body {
  margin: 0;
  /* overflow: hidden; */
  padding : 0
}
label {
  display: block;
}
.wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 30px 30px repeat(4, 1fr);
  gap: 5px;
  grid-template-rows: 1px 1fr 15px 1fr 15px repeat(3, 1fr);
}
.sizeDiv {
  grid-column: 2;
  grid-row: 2;
}
.supplyDiv {
  grid-column: 2;
  grid-row: 4;
}
.slopeDiv {
  grid-column: 5;
  grid-row: 2;
}
.flowDiv {
  grid-column: 5;
  grid-row: 4;
}
.manningDiv {
  grid-column: 5;
  grid-row: 6;
}
.selectTransportDiv {
  grid-column: 8;
  grid-row: 9;
}
/* .areaWatershedDiv {
  grid-column: 7;
  grid-row: 6;
  justify-self: end;
}

.slopeWatershedDiv {
  grid-column: 8;
  grid-row: 6;
} */
.defaultDiv {
  grid-column: 7;
  grid-row: 7;
  position: relative;
  left: 150px;
}
.submitDiv {
  grid-column: 7;
  grid-row: 7;
  position: relative;
  left: 275px;
}

.buttonDiv {
  grid-column: 8;
  grid-row: 7;
  position: relative;
  left: 20px;

}
.resetDiv {
  grid-column: 8;
  grid-row: 7;
  /* justify-self: start; */
  position: relative;
  left: 97px;
}
.setTransportDiv {
  grid-column: 7;
  grid-row: 9;
  justify-self: end;
}

.selectScenarioDiv {
  grid-column: 6;
  grid-row: 2;
  justify-self: end;
/*   position: relative;
  left: 0px;
  top: 0px; */
}

.selectNotesDiv {
  grid-column: 7;
  grid-row: 2;
  justify-self: end;
}
