body {
  margin: 0;
  padding : 0
}
label {
  display: block;
}
.wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 30px 30px repeat(4, 1fr);
  gap: 5px;
  grid-template-rows: 1px 1fr 15px 1fr 15px 1fr 15px 1fr 5px 1fr 5px;
}
.sizeDiv {
  grid-column: 2;
  grid-row: 2;
}
.supplyDiv {
  grid-column: 2;
  grid-row: 4;
}
.slopeDiv {
  grid-column: 5;
  grid-row: 2;
}
.flowDiv {
  grid-column: 5;
  grid-row: 4;
}
.manningDiv {
  grid-column: 2;
  grid-row: 6;
}
.selectTransportDiv {
  grid-column: 5;
  grid-row: 8;
}

.defaultDiv {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  left: 0px;
}
.submitDiv {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  left: 55px;
}

.buttonDiv {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  left: 100px;
}

.selectScenarioDiv {
  grid-column: 2;
  grid-row: 10;
  justify-self: start;
}

.selectNotesDiv {
  grid-column: 5;
  grid-row: 10;
  justify-self: start;
}

/* .wrapper2 {
  display: grid;
  grid-template-columns: 40px 1fr 30px 30px repeat(4, 1fr);
  gap: 5px;
  grid-template-rows: 1px 1fr 15px 1fr 15px 1fr 15px 1fr 5px 1fr 5px;
}

.widthDiv {
  grid-column: 2;
  grid-row: 2;
}

.densityDiv {
  grid-column: 5;
  grid-row: 2;
} */
