body {
  margin: 0;
  padding : 0
}
label {
  display: block;
}
.wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 30px 30px repeat(4, 1fr);
  gap: 3px;
  grid-template-rows: 1px 1fr 25px 1fr 25px 1fr 50px 1fr 10px 1fr;
}

.sizeDiv {
  grid-column: 2;
  grid-row: 2;
}
.textSizeDiv{
  grid-column: 2;
  grid-row: 3;
}

.supplyDiv {
  grid-column: 2;
  grid-row: 4;
}

.textSupplyDiv{
  grid-column: 2;
  grid-row: 5;
}

.slopeDiv {
  grid-column: 5;
  grid-row: 2;
}

.textSlopeDiv{
  grid-column: 5;
  grid-row: 3;
}

.flowDiv {
  grid-column: 5;
  grid-row: 4;
}

.textFlowDiv{
  grid-column: 5;
  grid-row: 5;
}

.manningDiv {
  grid-column: 2;
  grid-row: 6;
}

.textManningDiv{
  grid-column: 2;
  grid-row: 7;
}

.selectTransportDiv {
  grid-column: 5;
  grid-row: 8;
}

.defaultDiv {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  left: 0px;
}
.submitDiv {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  left: 55px;
}

.buttonDiv {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  left: 100px;
}

.selectScenarioDiv {
  grid-column: 2;
  grid-row: 10;
  justify-self: start;
}

.selectNotesDiv {
  grid-column: 5;
  grid-row: 10;
  justify-self: start;
}

 .wrapper2 {
  display: grid;
  grid-template-columns: 200px 10px 200px 10px 200px 10px;
  gap: 5px;
  grid-template-rows: repeat(6, 1fr) 30px;
}

.defaultSizeDiv {
  grid-column: 1;
  grid-row: 1;
}

.defaultSlopeDiv {
  grid-column: 1;
  grid-row: 2;
}

.defaultSupplyDiv {
  grid-column: 1;
  grid-row: 3;
}

.defaultFlowDiv {
  grid-column: 1;
  grid-row: 4;
}

.defaultManningDiv {
  grid-column: 1;
  grid-row: 5;
}

.defaultTransportDiv {
  grid-column: 1;
  grid-row: 6;
}

.minSizeDiv {
  grid-column: 3;
  grid-row: 1;
}

.minSlopeDiv {
  grid-column: 3;
  grid-row: 2;
}

.minSupplyDiv {
  grid-column: 3;
  grid-row: 3;
}

.minFlowDiv {
  grid-column: 3;
  grid-row: 4;
}

.minManningDiv {
  grid-column: 3;
  grid-row: 5;
}

.maxSizeDiv {
  grid-column: 5;
  grid-row: 1;
}

.maxSlopeDiv {
  grid-column: 5;
  grid-row: 2;
}

.maxSupplyDiv {
  grid-column: 5;
  grid-row: 3;
}

.maxFlowDiv {
  grid-column: 5;
  grid-row: 4;
}

.maxManningDiv {
  grid-column: 5;
  grid-row: 5;
}
.buttonSetRangesDefaultsDiv {
  grid-column: 3;
  grid-row: 6;
  position: relative;
  top: 45%;
}
